.hero {
  background: url("../../assets/img/sara-dubler-Koei_7yYtIo-unsplash.jpg")
    no-repeat center/cover;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 10%;
  padding: 10px 15px;
  background-color: rgba(247, 247, 247, 0.6);
  box-shadow: rgba(0, 0, 0, 0.9) 0px 8px 24px;
  border-radius: 25px;
}

form label {
  font-size: 0.8rem;
  text-align: center;
  /* padding-top: 2px; */
}

.text,
.from,
.until {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.from,
.until {
  border-left: 1px solid #333;
  padding-left: 6px;
}

form input {
  background-color: transparent;
  border: none;
  font-family: "poppins", sans-serif;
}

form input:focus {
  outline: none;
}

form .text_input {
  width: 300px;
  font-size: 1rem;
  text-align: center;
}

.search_btn {
  display: flex;
  align-items: center;
  text-align: center;
}

.search_btn button {
  display: none;
}
