* {
  font-family: "poppins";
}
.container,
.unit_container {
  width: 100vw;
  height: 100vh;

  background-color: #fff;
}

.search_bar {
  padding-top: 35px;
  display: flex;
  width: 100vw;

  flex-direction: row;
  justify-content: space-around;
}

input {
  background-color: #e4e3e3de;
}

input[type="text"] {
  padding: 8px;
  width: 320px;
  height: 53px;
  border: none;
  color: #727070;
  margin-top: 8px;
  font-size: 17px;
  border-radius: 25px;
}

.admin_icon {
  font-size: 26px;
}

button {
  width: 150px;
  border: none;
  color: #fff;
  border-radius: 25px;
}

.options {
  margin-top: 155px;
  display: flex;
  justify-content: space-around;
}

.bar {
  background-color: #efeded;
  width: 100%;
  color: #727070;
  height: 15vh;
  text-align: center;
}
.bar h2 {
  padding-top: 50px;
  font-size: 3Spx;
}

.availability {
  width: 324px;
  height: 130px;
  text-align: center;
  border-radius: 15px;
  margin-left: 20px;
  background-color: #efeded;
}

.icon_spacing {
  padding-right: 20px;
}

.unit {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #fff;
  flex-direction: row;
}

.unit > img {
  width: 302px;
  height: 189px;
}
