* {
  font-family: "poppins";
}

.container,
.unit_container {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.unit_container {
  display: flex;
  scale: 0.90;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: space-around; /* Horizontally center items */
}

.search_bar {
  padding-top: 35px;
  display: flex;
  width: 100vw;
  background-color: #fff;
  flex-direction: row;
  justify-content: space-around;
}

input {
  background-color: #e4e3e3de;
}

input[type="text"] {
  padding: 8px;
  width: 320px;
  height: 53px;
  border: none;
  color: #727070;
  margin-top: 8px;
  font-size: 17px;
}

.admin_icon {
  font-size: 26px;
}

button {
  width: 300px;
  height: 55px;
  border: none;
  color: #fff;
  margin-bottom: 15px;
  background-color: #ffd6ae;
}

.btn {
  border: none;
  color: #fff;
  width: 110px;
  margin-left: 5px;
  margin-top: 3px;
}

.options {
  margin-top: 155px;
  display: flex;
  justify-content: space-around;
}

.bar {
  background-color: #efeded;
  width: 100%;
  color: #727070;
  height: 20vh;
  text-align: center;
  justify-content: center;
}

.bar h2 {
  padding-top: 30px;
  font-size: 30px;
  justify-self: center;
}

.availability {
  width: 324px;
  height: 5%;
  text-align: center;
  margin-left: 20px;
}

.icon_spacing {
  padding-right: 20px;
}

.unit {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #fff;
  flex-direction: row;
  width: 50%; /* Display 2 items in a row */
}

.unit > img {
  width: 302px;
  height: 189px;
}
