.container {
  width: 1916px;
  height: 1662px;
  flex-shrink: 0;
}

.heading {
  color: #000;
  text-align: center;
  font-size: 36px;
  gap: 8px;

  font-weight: 700;
  line-height: 125%;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
