* {
    font-family: "poppins";
  }
  
  .container {
    display: flex;
    align-items: center;
    scale: 0.90;
    /* gap: 10px; Add margin to separate elements */
    margin: 50px; /* Adjust the margin as needed */
}
  
  
  .roomCont {
    display: flex;
    align-items: center; /* Center content within roomCont */
    margin-top: 20px; /* Adjust margin to your preference */
  }
  
  .img {
    border-radius: 0; /* Reset border-radius if needed */
  }
  
  .Specifications {
    text-align: center; /* Center text within Specifications */
    margin-top: 10px; /* Adjust margin to your preference */
    margin-right: 10vw;
}
  
  .title {
    font-size: 35px;
  }
  